<div class="portifolio-sections">
  <section id="header">
    <div class="row">
      <div class="col-12">
        <app-portifolio-header></app-portifolio-header>
      </div>
    </div>
  </section>
  <section id="content">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
  <section id="footer">
    <div class="row">
      <div class="col-12">
        <app-portifolio-footer></app-portifolio-footer>
      </div>
    </div>
  </section>
</div>