<div class="portifolio-sections">
  <section id="header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-portifolio-header></app-portifolio-header>
        </div>
      </div>
    </div>
  </section>
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-portifolio-content></app-portifolio-content>
        </div>
      </div>
    </div>
  </section>
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <app-portifolio-footer></app-portifolio-footer>
        </div>
      </div>
    </div>
  </section>
</div>