/*
*
* @Author Nicolas Mazia
* @Version 0.1
*/

/* ================= Layout TOPO ================= */


html, body, .capa{
	height: 100%;
}

body{
	background-image: url("./imagens/fundo.jpg");
	background-attachment: fixed;
	overflow-x: hidden;
	background-size: 100%;
}


/*---- Barra de Navegação -----*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li input {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #111;
    color: #f2f2f2;
}

.texto_git{
    color: #f2f2f2;
    text-shadow: 3px 2px black;
    text-align: center;
}

/*---- Formulários -----*/

.box_esquerdo{
    background-color: #f2f2f2;
    width: 500px;
    height: 500px;;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
}

.formularios{
    padding-top: 30px;
}	

.formularios button{
    margin-top: 20px;
}


.bt_formulario{
    background-color: #cccccc;
    width: 200px;
}

.bt_formulario:hover{
    background-color: #66ff66;
    color: black;
}

.form-control{
    display: block;
    border: solid 1px #000;

}

#numero{
    text-align: center;
    width: 100px;
}

/*----- RESPOSTA GET --------*/

.box_direito{
    background-color: #f2f2f2;
    width: 500px;
    height: 500px;;
    border: 2px solid black;
    padding: 25px;
    margin: 25px;
}

#prints{
	padding-top: 30px;
	display: block;
	max-height: 330px;
	width: 430px;
	border: solid 1px #000;
	padding: 5px;
	color: black;
	min-height: 120px;
	overflow-y: scroll;
}


/*=============SECTION BIOGRAFIA================*/

#bio{
    background: #f2f2f2;
    padding-bottom: 20px;
    height: 560px;
}

.nick{
    text-align: center;
}

.ordenacao{
    padding-top: 35px;
    padding-bottom: 35px;
}

/*=============SECTION CONHECIMENTOS================*/
#secao{
    padding-top: 40px;
    padding-bottom: 40px;
}

.transparente{
    opacity: 0.7;
    background-color: #f2f2f2;
    height: 600px;
}

.texto_sobre{
    text-align: center;
    color: black;
    padding-top: 30px;
}

.abaixa{
    padding-top: 60px;
}
/*---- rodape -----*/

footer{
	background: #000;
	padding: 50px 0px 20px 0px;
	position: relative;
}


