<div class="my-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>Links Interessantes</p>
        <div class="row links-sect">
          <div class="col-4">
            <a class="no-decoration" target="blank" href="https://www.linkedin.com/in/nicolas-mazia-9b380761/"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <div class="col-4">
            <a class="no-decoration" target="blank" href="https://github.com/stn6mazia"><i class="fab fa-github-alt"></i></a>
          </div>
          <div class="col-4">
            <a class="no-decoration" target="blank" href="https://drive.google.com/file/d/1MzhOvwsH5Nci77oWDq30BFHHa06VAzO5/view?usp=sharing"><i class="fas fa-id-card"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>