<div class="about-wraper">
  <div class="intro-sect">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="contant">
            <h1 class="title">Olá estraho(a), pode me chamr de MaziaTheBrown <i class="fas fa-hat-wizard"></i></h1>
            <p class="intro">Talvez você nunca ouviu falar de mim,
              afinal, sou apenas mais um desenvolvedor
              Front-End, em um mundo cheio de bons desenvolvedores.
              Meu plano é me tornar um desenvolvedor Full-Stack,
              porém tenho uma estrada para caminhar.
            </p>
            <p class="intro">Eu sei que tenho muito a aprender e irei...
              Porém, até eu ser o MELHOR desenvolvedor que
              eu possa ser, gostaria que visse um pouco de mim,
              um pouco do que sei fazer, mas lembre-se, ninguém é definido em
              palavras, eu posso te surpreender
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="skills-sect">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h1 class="title">My Dev Skills</h1>
            <div class="row">
              <div class="col-6">
                <h2>Front</h2>
                <i class="skill-icon fab fa-html5"> 9/10 </i>
                <br />
                <i class="skill-icon fab fa-css3-alt"> 9/10 </i>
                <br />
                <i class="skill-icon fab fa-js-square"> 7/10 </i>
                <br />
                <i class="skill-icon fab fa-php"> 5/10 </i>
                <br />
                <i class="skill-icon fab fa-angular"> 8/10 </i>
                <br />
                <i class="skill-icon fab fa-react"> 6/10 </i>
                <br />
                <i class="skill-icon fab fa-sass"> 6/10 </i>
                <br />
              </div>
              <div class="col-6">
                <h2>Back</h2>
                <i class="skill-icon fab fa-node"> 6/10 </i>
                <br/>
                <i class="skill-icon fas fa-database"> 6/10 </i>
                <br/>
                <i class="skill-icon fab fa-python"> 4/10 </i>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>