<div class="home-wraper">
  <div class="container">
    <div class="home-title row">
      <div class="col-12">
        <h1 class="name">Nicolas Mazia</h1>
          <div class="info-list row">
            <div class="col-6">
              <ul class="info-list right">
                <li class="info-topic">Idade :</li>
                <li class="info-topic">Est. Civil :</li>
                <li class="info-topic">Filhos :</li>
                <li class="info-topic">Formação :</li>
                <li class="info-topic">Moradia :</li>
                <li class="info-topic">Apelido :</li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="info-list left">
                <li class="info-item">{{ age }} anos</li>
                <li class="info-item">Casado</li>
                <li class="info-item">1 (Theodoro) <i class="fas fa-heart"></i></li>
                <li class="info-item">Sistemas de Informação (UNINOVE) DEZ/2017</li>
                <li class="info-item">Campo Belo - São Paulo - SP</li>
                <li class="info-item">Mazia The Brown</li>
              </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>