.home-wraper {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(204, 150, 0);
}

.home-title{
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.name {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.info-list {
    color: white;
    list-style: none;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.info-sect {
    text-align: center;
    background-color: rgba(214, 214, 214, 0.527);
    color: black
}