<div class="contact-page">
  <div class="container">
    <div class="row">
      <div class="col-12 contact-sect">
        <h1 class="title">Quer falar comigo?</h1>
        <h2 class="title">Aqui estão algumas formas de contato</h2>
        <div class="row icons-sect">
          <div class="col-3">
            <a class="no-decoration" target="blank" href="https://wa.me/5511943469442?text=Olá%20estou%20interessado%20no%20seu%20perfil">
              <i class="fab fa-whatsapp"></i>
            </a>
          </div>
          <div class="col-3">
            <a class="no-decoration" target="blank" href="https://web.telegram.org/#/im?p=@MaziaTheBrown">
              <i class="fab fa-telegram"></i>
            </a>
          </div>
          <div class="col-3">
            <a class="no-decoration" target="blank" href="tel:5511943469442">
              <i class="fas fa-phone"></i>
            </a>
          </div>
          <div class="col-3">
            <a class="no-decoration" target="blank" href="https://www.facebook.com/messages/t/nicolas.mazia">
              <i class="fab fa-facebook-messenger"></i>
            </a>
          </div>
        </div>
        <div class="row icons-sect">
          <div class="col-6">
            <a class="no-decoration" target="blank" href="mailto:nicolas.mazia@gmail.com">
              <i class="far fa-envelope"></i>
              <br />
              <p class="email-text">nicolas.mazia@gmail.com</p>
            </a>
          </div>
          <div class="col-6">
            <a class="no-decoration" target="blank" href="mailto:nicolas.mazia@me.com">
              <i class="far fa-envelope"></i>
              <br />
              <p class="email-text">nicolas.mazia@me.com</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>