<div class="navbar my-nav">
  <div class="menu">
    <div class="row nav-style">
      <div class="col-8">
        <span class="page-title"><i class="fas fa-align-right"></i> Mazia The Brown</span>
      </div>
      <div class="col-4">
        <div class="row" id="navbarMenu">
          <div class="col-3">
            <a class="no-decoration" routerLink="/home">Home</a>
          </div>
          <div class="col-3">
            <a class="no-decoration" routerLink="/git">My Git</a>
          </div>
          <div class="col-3">
            <a class="no-decoration" routerLink="/about">Abou</a>
          </div>
          <div class="col-3">
            <a class="no-decoration" routerLink="/contact">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>